<html>
<style>
    #barra {
        margin: 0;
        padding: 0;
        list-style: none,
        text-transform: uppercase;

    }


</style>

<body>

    <ul style="list-style-type:none;">
        <li style="float:left;"><a href="Inicio">       Inicio</a></li>
        <li style="float:left;"><a href="¿Quiénes somos?">     ¿Quiénes somos?</a></li>
        <li style="float:left;"><a href="Servicios">    Servicios </a></li>
        <li style="float:left;"><a href="Contacto">Contacto </a></li>
     </ul>


    



</body>
</html>