
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



    <h1>Busqueda: </h1>

    <form action="" method="get">

        <label for="">Ingrese el nombre del pais visitado: </label>
        <input type="text" name = "buscar">

        <button type="submit">Buscar</button>

    </form>

   {% if buscados %}
    <table border="1">

        <tr>
            <td>Nombre</td>
            <td>Idioma</td>
        </tr>

        {% for i in buscados %}
        <tr>
            <td>{{i.nombre_pais}}</td>
            <td>{{i.idioma}}</td>
        </tr>

        {% endfor %}

     </table>
    {% endif %}
    <hr>

   <p>Listado de paises:</p>

    {% comment %} <table border="1"> 

        <tr>
            <td>Nombre</td>
            <td>Idioma</td>
        </tr>

        {% for i in todos %}
        <tr>
            <td>{{i.nombre_pais}}</td>
            <td>{{i.idioma}}</td>
        </tr>

        {% endfor %}

    </table>   {% endcomment %} 