<!DOCTYPE html>
{%extends "index.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Sofia</title>
    {% endblock title %}

</head>

<body>
   

    {% block content %}
    <h1> SOBRE MI...</H1>
    <p>
    
Mi nombre es Sofía, tengo 24 años y soy Lic en Comercialización. 
Me gusta mucho viajar, razón por la cual estoy creando esta web. 
CONOCELA!
    
    </p>
</body>
</html>
{% endblock %}